<body> -->
     <div class="img">
      <img src= "../assets/pic8.jpg"> </div> 
  <header>
  
     <div>
     <h1 class="title">B_l_A_c_K</h1>
     </div> 
      <marquee><p class="quote">food is the ingredient 
    that bind us TOGETHER
  </p></marquee>
  </header>
  <footer>
    
  
    <div class="bar">
    <ul>
    
        <li><a href="/path">Home</a></li>
        <li><a href="/place">Places</a></li>
        </ul></div>
        
  </footer> 
   
   </body>
   <router-outlet></router-outlet>  
